{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div>
        <div>
            <label for="username">Username</label>
        </div>
        <div>
            <input name="username" id="username" required>
        </div>
    </div>
    <div>
        <div>
            <label for="password">Password</label>
        </div>
        <div>
            <input type="password" name="password" id="password" required>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Log In">
        </div>
    </div>
</form>
{% endblock %}