{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Songs List{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="padding: 18px 10px 28px 10px; box-shadow: #747474 2px 2px 2px 2px;">
    Upload new songs here
    <div style="float: right; margin: 0px;">
        <form action="/file/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button style="padding: 5px;">Upload file</button>
        </form>
    </div>
</div>

{% for file in files %}
<div style="padding: 10px; box-shadow: #747474 2px 2px 2px 2px;">
    {{ file }}
    <a href="/file/delete?path={{file}}">
        <span style="float: right;">Delete</span>
    </a>
</div>
{% endfor %}
{% endblock %}